<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blog</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand"> Lucilvio.Blog </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li> <a href="@Url.Action("MeusPosts", "Post")"> Meus Posts </a> </li>

                        if (User.IsInRole(nameof(Usuario.EhAdminitrador)))
                        {
                            <li> <a href="@Url.Action("Gerenciar", "Usuario")"> Gerenciar Usuários </a> </li>
                        }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li style="color: white"> Bem vindo @User.Identity.Name &nbsp; | <form action="@Url.Action("Deslogar", "Login")"> <button class="btn btn-link">Sair</button> </form> </li>
                    }
                    else
                    {
                        <li><a href="#" data-toggle="modal" data-target="#modal-login"> Fazer Login </a></li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <br />
        <footer>
            <p>&copy; @DateTime.Now.Year - Lucilvio.Blog - Todos os direitos reservados </p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/blog/geral.js"></script>

    @RenderSection("scripts", false)

    @Html.Partial("_ModalLogin")
    @Html.Partial("_Mensagens")

</body>
</html>