@model ModeloDePost

@{
    ViewBag.Title = "Ver";
}

<div class="post">
    <div class="row">
        <div class="col-lg-12">
            <div style="height: 70px;">
                <input type="hidden" id="idDoPost" value="@Model.Id" />
                <h3 class="pull-left"> @Model.Titulo </h3>
            </div>
            <div>
                <p> @Model.Conteudo </p>
                <span style="font-size: x-small"> <i class="glyphicon glyphicon-time"></i> @Model.DataDoCadastro </span> &nbsp;
                <span style="font-size: x-small"> <i class="glyphicon glyphicon-user"></i> @Model.NomeDoAutor </span>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <h5> Comentários </h5>

            @if (Model.PermiteComentarios)
            {
                <form id="formulario-de-comentario">
                    <div class="form-inline">
                        <input type="text" class="form-control input-sm" name="comentario" id="comentario" required placeholder="Deixe seu comentário..." />
                        <input type="button" value="Comentar" class="adicionar-comentario" />
                    </div>
                </form>

                <ul id="lista-de-comentarios">

                    @foreach (var comentario in Model.Comentarios)
                {
                        <li style='font-size: small'> @comentario.Conteudo <span style="font-size: x-small"> <i class="glyphicon glyphicon-time"></i> @comentario.Data </span> </li>
                    }
                </ul>
            }
            else
            {
                <p> O autor do post bloqueou os comentários </p>
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/blog/servicos/servico-de-comentarios.js"></script>
    <script src="~/Scripts/blog/ver-post.js"></script>
}